<template>
  <div>
    <div class="row">
      <div class="col-md-4">
        <vue-timepicker
          format="hh:mm"
          auto-scroll
          hide-disabled-minutes="true"
          advanced-keyboard="true"
          input-width="8em"
        >
          <template v-slot:icon>
            <img src="../assets/icon-dl-time.png" />
          </template>
        </vue-timepicker>
      </div>
      <div class="col-md-5">
        <date-range-picker
          v-model="dateRangeGlobal"
          :locale-data="locale"
          :opens="opens"
          :ranges="ranges"
          :autoApply="autoApply"
          id="jobApllicantsNew"
          class="Date-picker"
        >
          <template v-slot:input="dateRangeGlobal">
            <div class="display-date">
              <img src="../assets/icon-dl-date.png" class="icon" />
              <span class="date-font">
                {{ dateRangeGlobal.startDate | date }} -
                {{ dateRangeGlobal.endDate | date }}
              </span>
            </div>
          </template>
        </date-range-picker>
      </div>
      <div class="col-md-3">
        <date-range-picker
          v-model="dateRangeGlobal"
          :locale-data="locale"
          :opens="opens"
          :ranges="ranges"
          :autoApply="autoApply"
          :singleDatePicker="singleDatePicker"
          id="jobApllicantsNew"
          class="Date-picker"
        >
          <template v-slot:input="dateRangeGlobal">
            <div class="display-date">
              <img src="../assets/icon-dl-date.png" class="icon" />
              <span class="date-font">
                {{ dateRangeGlobal.startDate | date }} -
                {{ dateRangeGlobal.endDate | date }}
              </span>
            </div>
          </template>
        </date-range-picker>
      </div>
    </div>
  </div>
</template>

<script>
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import moment from "moment";
import "../assets/date-picker.css";
import VueTimepicker from "vue2-timepicker";
import "vue2-timepicker/dist/VueTimepicker.css";

export default {
  components: {
    DateRangePicker,
    VueTimepicker,
  },

  data() {
    return {
      dateRangeGlobal: {
        startDate: moment().format("DD MMM, YYYY"),
        endDate: moment().format("DD MMM, YYYY"),
      },
      opens: "center", // which way the picker opens, default "center", can be "left"/"right"
      locale: {
        direction: "ltr", // direction of text
        format: "DD MMM, YYYY", // fomart of the dates displayed
        separator: " - ", // separator between the two ranges
        applyLabel: "Apply",
        cancelLabel: "Cancel",
        weekLabel: "W",
        customRangeLabel: "Custom Range",
        daysOfWeek: moment.weekdaysMin(), // array of days - see moment documenations for details
        monthNames: moment.monthsShort(), // array of month names - see moment documenations for details
        firstDay: 0,
      },
      ranges: false,
      autoApply: true,
      singleDatePicker: true,

      // time picker
    };
  },

  filters: {
    date(val) {
      return val ? moment(val).format("MMM DD, YYYY") : "";
    },
  },
};
</script>
