.icon{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 2px;
  }
  .reportrange-text{
    border: 1px solid #E4E4E4 !important;
    box-sizing: border-box;
    border-radius: 2px !important;
    padding: 2px 5px !important;
  }
  .date-font{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: capitalize;
    color: #171723;
  }
  .daterangepicker{
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(16, 30, 115, 0.15);
    border-radius: 2px;
    border: none;
  }
  .daterangepicker.openscenter:before{
      display: none;
  }
  .daterangepicker th.month{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #171723;
  }
  .daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span{
      border-width: 0 1px 1px 0;
  }
  .table-condensed tbody tr:first-child th{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: capitalize;
    color: #999999;
  }
  .daterangepicker td.active, .daterangepicker td.active:hover{
    border-radius: 50% !important;
    background-color: #3452FF !important;
  }
  .daterangepicker .calendar-table td, .daterangepicker .calendar-table th{
    height: 36px;
  }

  /* Time Piker */

  /* .vue__time-picker, .vue__time-picker:focus{
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 2px;
  } */
  /* .vue__time-picker input.display-time:focus-visible{
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 2px;
  } */
  